# Bazel links
bazel-*
MODULE.bazel.lock

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.so
*.a
*.dylib

# Editor backup / temporary files
*~
*.swp
*.swo
.DS_Store

# generated settings
compile_commands.json
.vscode/*